<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<script language="JavaScript" type="text/javascript">
		<!--
		jomresJquery(document).ready(function () {
			make_datatable('audit_trail', '{PAGETITLE}', '{LIVESITE}');
		});
		//-->
	</script>
	<h2 class="page-header">{PAGETITLE}{COUNTER}</h2>

	<form action="{JOMRES_SITEPAGE_URL}" method="post" name="adminForm">
		<div class="well">
			{JOMRESTOOLBAR}
		</div>
		<!--<div class="row-fluid">
			<div class="span3">
				{HUSERFILTER}
			</div>
			<div class="span3">
				 {USERFILTER}
			</div>
			<div class="span3">
				{HOPERATIONFILTER}
			</div>
			<div class="span3">
				{OPERATIONFILTER}
			</div>
		</div>-->
		<br/>
		<table id="audit_trail" width="100%" class="table table-striped">
			<thead>
			<tr>
				<th>{HDATE}</th>
				<th>{HTIME}</th>
				<th>{HUSER}</th>
				<th>{HOPERATION}</th>
				<th>{HVIEWSQL}</th>
			</tr>
			</thead>
			<tbody>
			<patTemplate:tmpl name="rows" unusedvars="nbsp">
				<tr>
					<td>{THEDATE}</td>
					<td>{THETIME}</td>
					<td>{USER}</td>
					<td>{OPERATION}</td>
					<td>{VIEWSQL}</td>
				</tr>
			</patTemplate:tmpl>
			</tbody>
		</table>
		<input type="hidden" name="task" value="showAuditTrail"/>
	</form>
</patTemplate:tmpl>