<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<div class="row-fluid">
		<div class="span5">
			<strong>{_JOMRES_COM_MR_EB_ROOM_BOOKINGTYPE_EXPL}</strong>
		</div>
		<div class="span7">
			{BOOKINGTYPE}
		</div>
	</div>
	<div class="row-fluid">
		<div class="span5">
			<strong>{_JOMRES_COM_MR_ASSIGNUSER_USERNAME}</strong>
		</div>
		<div class="span7">
			{BOOKERSUSERNAME}
		</div>
	</div>
	<hr/>
	<patTemplate:tmpl name="rows" unusedvars="strip">
		<div class="row-fluid">
			<div class="span5">
				<strong>{_JOMRES_COM_MR_EB_ROOM_NAME}</strong>
			</div>
			<div class="span7">
				{RINFO_NAME}
			</div>
		</div>
		<div class="row-fluid">
			<div class="span5">
				<strong>{_JOMRES_COM_MR_LISTTARIFF_RATETITLE}</strong>
			</div>
			<div class="span7">
				{RINFO_TARIFF}
			</div>
		</div>
		<div class="row-fluid">
			<div class="span5">
				<strong>{_JOMRES_COM_MR_EB_ROOM_NUMBER}</strong>
			</div>
			<div class="span7">
				{RINFO_NUMBER}
			</div>
		</div>
		<div class="row-fluid">
			<div class="span5">
				<strong>{_JOMRES_COM_MR_EB_ROOM_FLOOR}</strong>
			</div>
			<div class="span7">
				{RINFO_ROOM_FLOOR}
			</div>
		</div>
		<div class="row-fluid">
			<div class="span5">
				<strong>{_JOMRES_COM_MR_EB_ROOM_DISABLED}</strong>
			</div>
			<div class="span7">
				{DISABLEDACCESS}
			</div>
		</div>
		<div class="row-fluid">
			<div class="span5">
				<strong>{_JOMRES_COM_MR_EB_ROOM_MAXPEOPLE}</strong>
			</div>
			<div class="span7">
				{RINFO_MAX_PEOPLE}
			</div>
		</div>
		<div class="row-fluid">
			<div class="span5">
				<strong>{_JOMRES_COM_MR_EB_ROOM_CLASS_ABBV}</strong>
			</div>
			<div class="span7">
				{TYPE}
			</div>
		</div>
	</patTemplate:tmpl>
</patTemplate:tmpl>