<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<div class="row-fluid">
		<div class="span5">
			<strong>{_JOMRES_COM_MR_EB_PAYM_DEPOSIT_PAID}</strong>
		</div>
		<div class="span7">
			{DEPOSITPAID}
		</div>
	</div>
	<div class="row-fluid">
		<div class="span5">
			<strong>{_JOMRES_COM_MR_EB_PAYM_DEPOSITREQUIRED}</strong>
		</div>
		<div class="span7">
			{BOOKING_DEPOSIT_REQUIRED}
		</div>
	</div>
	<div class="row-fluid">
		<div class="span5">
			<strong>{_JOMRES_COM_MR_EB_PAYM_CONTRACT_TOTAL}</strong>
		</div>
		<div class="span7">
			{BOOKING_CONTRACT_TOTAL}
		</div>
	</div>
	<div class="row-fluid">
		<div class="span5">
			<strong>{HNIGHTS}</strong>
		</div>
		<div class="span7">
			{NUM_NIGHTS}
		</div>
	</div>
	<div class="row-fluid">
		<div class="span5">
			<strong>{_JOMRES_COM_MR_EB_PAYM_DEPOSIT_REF}</strong>
		</div>
		<div class="span7">
			{BOOKING_DEPOSIT_REF}
		</div>
	</div>
	<div class="row-fluid">
		<div class="span5">
			<strong>{_JOMRES_COM_A_SUPPLIMENTS_SINGLEPERSON}</strong>
		</div>
		<div class="span7">
			{SINGLE_PERSON_SUPPLIMENT}
		</div>
	</div>
	<div class="row-fluid">
		<div class="span5">
			<strong>{_JOMRES_COM_FRONT_ROOMTAX}</strong>
		</div>
		<div class="span7">
			{TAX}
		</div>
	</div>
	<hr/>
	<div class="row-fluid">
		<div class="span5">
			<strong>{_JOMRES_CONFIG_VARIANCES_CUSTOMERTYPES}</strong>
		</div>
		<div class="span7">
			&nbsp;
		</div>
	</div>
	<patTemplate:tmpl name="guest_type_rows" type="simpleCondition" requiredVars="guest_type_title">
		<div class="row-fluid">
			<div class="span5">
				<strong>{GUEST_TYPE_TITLE}</strong>
			</div>
			<div class="span7">
				{GUEST_TYPE_QTY}
			</div>
		</div>
	</patTemplate:tmpl>
	<hr/>
	<div class="row-fluid">
		<div class="span5">
			<strong>{_JOMRES_COM_MR_EXTRA_TITLE}</strong>
		</div>
		<div class="span7">
			&nbsp;
		</div>
	</div>
	<patTemplate:tmpl name="extras_rows" type="simpleCondition" requiredVars="extra_name">
		<div class="row-fluid">
			<div class="span5">
				<strong>{EXTRA_NAME} ({EXTRA_TAX}%) X {EXTRA_QUANTITY}</strong>
			</div>
			<div class="span7">
				{EXTRA_INCLUSIVE_PRICE}
			</div>
		</div>
	</patTemplate:tmpl>
	<div class="row-fluid">
		<div class="span5">
			<strong>{_JOMRES_COM_MR_QUICKRES_STEP4_TOTALINVOICE}</strong>
		</div>
		<div class="span7">
			{EXTRASOPTIONSVALUE}
		</div>
	</div>
	<hr/>
	<div class="row-fluid">
		<div class="span5">
			<strong>{_JOMRES_COM_ADDSERVICE_BOOKINGDESC}</strong>
		</div>
		<div class="span7">
			<patTemplate:tmpl name="other_services_rows" type="simpleCondition" requiredVars="other_service">
				{OTHER_SERVICE}<br/>
			</patTemplate:tmpl>
		</div>
	</div>
	<hr/>
	<div class="row-fluid">
		<div class="span5">
			<strong>{_JOMRES_COM_INVOICE_LETTER_GRANDTOTAL}</strong>
		</div>
		<div class="span7">
			{GRAND_TOTAL}
		</div>
	</div>
	<div class="row-fluid">
		<div class="span5">
			<strong>{_JOMRES_COM_MR_EDITBOOKING_REMAINDERTOPAY}</strong>
		</div>
		<div class="span7">
			{REMAINDER_TO_PAY}
		</div>
	</div>
</patTemplate:tmpl>