<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<h2 class="page-header">{PAGETITLE}</h2>

	<p class="alert alert-warning">{SUPPLIMENT_DESC}</p>

	<form action="{JOMRES_SITEPAGE_URL}" method="post" name="adminForm" class="form-horizontal">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="roomClasses">{HTYPE}</label>

				<div class="controls">
					{TYPEDROPDOWN}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="room_name">{HNAME}</label>

				<div class="controls">
					<input type="text" name="room_name" value="{ROOMNAME}"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="room_number">{HNUMBER}</label>

				<div class="controls">
					<input type="text" name="room_number" value="{ROOMNUMBER}"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="room_floor">{HFLOOR}</label>

				<div class="controls">
					<input type="text" name="room_floor" value="{ROOMFLOOR}"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="disabledAccess">{HDISABLED}</label>

				<div class="controls">
					{DISABLED}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="feature_description">{HMAXPEOPLE}</label>

				<div class="controls">
					<input type="text" name="max_people" value="{MAXPEOPLE}"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="smoking">{HSMOKING}</label>

				<div class="controls">
					{SMOKING}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="singleperson_suppliment">{HSUPPLIMENT}</label>

				<div class="controls">
					<input type="text" name="singleperson_suppliment" value="{SUPPLIMENT}"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="features_list[]">{HFEATURES}</label>

				<div class="controls">
					{FEATURES}
				</div>
			</div>
			<div class="form-actions">
				{JOMRESTOOLBAR}
			</div>
		</fieldset>
		<input type="hidden" name="roomUid" value="{ROOMUID}"/>
		<input type="hidden" name="task" value="saveRoom"/>
	</form>
	<h3 class="page-header">{UPLOADIMAGE}</h3>

	<form enctype="multipart/form-data" action="{JOMRES_SITEPAGE_URL}&amp;task=uploadRoomImage" method="post"
		  name="upload" class="form-horizontal">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="image">Image</label>

				<div class="controls">
					<input type='file' name='image'/>
				</div>
			</div>
			<div class="form-actions">
				<input name="upload_button" type="submit" value="{UPLOADIMAGE}" class="btn btn-primary"/>
			</div>
		</fieldset>
		<patTemplate:tmpl name="delimg_rows" type="simpleCondition" requiredVars="deleteimage_link">
			<div class="row-fluid">
				<div class="span3">
					<a href="{DELETEIMAGE_LINK}" class="btn btn-danger"><i class="icon-trash icon-white"></i>
						{DELETEIMAGE_TEXT}</a>
				</div>
				<div class="span9">
					{IMAGE}
				</div>
			</div>
		</patTemplate:tmpl>
		<input type="hidden" name="roomUid" value="{ROOMUID}"/>
	</form>
</patTemplate:tmpl>