<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<form action="{JOMRES_SITEPAGE_URL}" method="post" name="adminForm" class="form-horizontal">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="roomtype">{HPROPERTYTYPE}</label>

				<div class="controls">
					<patTemplate:tmpl name="rows" unusedvars="strip">
						<div>{ROOM_CLASS_RADIO}</div>
					</patTemplate:tmpl>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="roomrateperday">{RATETEXT}</label>

				<div class="controls">
					{ROOMRATEPERDAY}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="max_people">{HMAXPEOPLE_TARIFF}</label>

				<div class="controls">
					{MAX_PEOPLE}
				</div>
			</div>
			<div class="form-actions">
				{JOMRESTOOLBAR}
			</div>
		</fieldset>
		<input type="hidden" name="task" value="save_normalmode_tariffs"/>
	</form>
</patTemplate:tmpl>