<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<!-- works better on small screens when built as tables, than when built as css rows -->
	<form action="{JOMRES_SITEPAGE_URL}" method="post" name="adminForm">
		<table class="table table-striped table-condensed table-bordered">
			<thead>
			<tr>
				<th>{HROOMTYPE}</th>
				<th>{HNUMBEROFROOMS}</th>
				<th>{HROOMRATEPERDAY}</th>
				<th>{HMAXPEOPLE_ROOM}</th>
				<th>{HMAXPEOPLE_TARIFF}</th>
			</tr>
			</thead>
			<tbody>
			<patTemplate:tmpl name="rows" unusedvars="nbsp">
				<tr>
					<td>{ROOM_CLASS_ABBV}</td>
					<td>{ROOMNUMBERDROPDOWN}</td>
					<td>{ROOMRATEPERDAY}</td>
					{EXISTINGROOMS}
					<td>{MAX_PEOPLE_ROOM}</td>
					<td>{MAX_PEOPLE_TARIFF}</td>
				</tr>
			</patTemplate:tmpl>
			</tbody>
		</table>
		<div class="form-actions">
			{JOMRESTOOLBAR}
		</div>
		<input type="hidden" name="task" value="saveTariff"/>
	</form>
</patTemplate:tmpl>