<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<script type="text/javascript">
		<!--
		jomresJquery(document).ready(function () {
			make_datatable('list_customertypes', '{PAGETITLE}', '{LIVESITE}');
		});
		//-->
	</script>
	<h2 class="page-header">{PAGETITLE}</h2>

	<form action="{JOMRES_SITEPAGE_URL}" method="post" name="adminForm">
		<div class="well">
			{JOMRESTOOLBAR}
		</div>
		<table id="list_customertypes" width="100%" class="table table-striped">
			<thead>
			<tr>
				<th></th>
				<th></th>
				<th>{HTYPE}</th>
				<th class="hidden-phone">{HNOTES}</th>
				<th>{HMAXIMUM}</th>
				<th class="hidden-phone">{HISPERCENTAGE}</th>
				<th class="hidden-phone">{HPOSNEG}</th>
				<th class="hidden-phone">{HVARIANCE}</th>
				<th>{HORDER}</th>
			</tr>
			</thead>
			<tbody>
			<patTemplate:tmpl name="rows" unusedvars="nbsp">
				<tr>
					<td>
						<div class="btn-group">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="icon-edit"></i>
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
								<li><a tabindex="-1" href="{EDIT_URL}">{COMMON_EDIT}</a></li>
							</ul>
						</div>

					</td>
					<td>
						<a href="{PUBLISH_URL}" class="btn {EMPHASIS}">{PUBLISH_TEXT}</a>
					</td>
					<td>{TYPE}</td>
					<td class="hidden-phone">{NOTES}</td>
					<td>{MAXIMUM}</td>
					<td class="hidden-phone">{ISPERCENTAGE}</td>
					<td class="hidden-phone">{POSNEG}</td>
					<td class="hidden-phone">{VARIANCE}</td>
					<td><input class="input-mini" type="text" style="text-align:center" name="order[{ID}]"
							   value="{ORDER}"/></td>
				</tr>
			</patTemplate:tmpl>
			</tbody>
		</table>
		<input type="hidden" name="task" value="newExtra"/>
		<input type="hidden" name="option" value="com_jomres"/>
	</form>
</patTemplate:tmpl>