<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<script language="JavaScript" type="text/javascript">
		<!--
		jomresJquery(document).ready(function () {
			make_datatable('showLiveBookings', '{PAGETITLE}', '{LIVESITE}');
		});
		//-->
	</script>
	<h2 class="page-header">{PAGETITLE}</h2>

	<div class="well">
		<div class="row-fluid">
			<div class="span4">
				<img src="{IMG_PENDING}"/>
				{TEXT_PENDING}
			</div>
			<div class="span4">
				<img src="{IMG_ARRIVETODAY}"/>
				{TEXT_ARRIVETODAY}
			</div>
			<div class="span4">
				<img src="{IMG_RESIDENT}"/>
				{TEXT_RESIDENT}
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4">
				<img src="{IMG_LATE}"/>
				{TEXT_LATE}
			</div>
			<div class="span4">
				<img src="{IMG_DEPARTTODAY}"/>
				{TEXT_DEPARTTODAY}
			</div>
			<div class="span4">
				<img src="{IMG_STILLHERE}"/>
				{TEXT_STILLHERE}
			</div>
		</div>
	</div>

	<table class="table table-striped" id="showLiveBookings" width="100%">
		<thead>
		<tr>
			<th>{_JOMRES_COM_MR_EDITBOOKINGTITLE}</th>
			<th>{_JOMRES_COM_MR_VIEWBOOKINGS_STATUS}</th>
			<th>{_JOMRES_COM_MR_VIEWBOOKINGS_SURNAME}</th>
			<th>{_JOMRES_BOOKING_NUMBER}</th>
			<th>{ARRIVAL}</th>
			<th>{DEPARTURE}</th>
		</tr>
		</thead>
		<tbody>
		<patTemplate:tmpl name="rows" unusedvars="nbsp">
			<tr>
				<td>
					<div class="btn-group">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="icon-edit"></i>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
							<li><a tabindex="-1" href="{EDIT_URL}">{EDIT_TEXT}</a></li>
						</ul>
					</div>
				</td>
				<td><img src="{STATE_IMAGE}"/></td>
				<td>{FIRSTNAME} {SURNAME}</td>
				<td>{BOOKING_NO}</td>
				<td>{ARRIVALDATE}</td>
				<td>{DEPARTURE}</td>
			</tr>
		</patTemplate:tmpl>
		</tbody>
	</table>
</patTemplate:tmpl>