<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<script language="JavaScript" type="text/javascript">
		<!--
		jomresJquery(document).ready(function () {
			make_datatable('list_black_bookings', '{PAGETITLE}', '{LIVESITE}');
		});
		//-->
	</script>
	<h2 class="page-header">{PAGETITLE}</h2>

	<form action="{JOMRES_SITEPAGE_URL}" method="post" name="adminForm">
		<div class="well">
			{JOMRESTOOLBAR}
		</div>
		<br/>
		<table width="100%" id="list_black_bookings" class="table table-striped">
			<thead>
			<tr>
				<th></th>
				<th>{_JOMRES_COM_MR_VRCT_ROOM_LINKTEXT}</th>
				<th>{HSTART}</th>
				<th>{HRESUMEDATE}</th>
				<th>{HREASON}</th>
			</tr>
			</thead>
			<tbody>
			<patTemplate:tmpl name="bookingsrows" unusedvars="nbsp">
				<tr>
					<td width="30">{CHECKBOX}</td>
					<td>{EDITLINK}</td>
					<td>{START}</td>
					<td>{RESUMEDATE}</td>
					<td>{REASON}</td>
				</tr>
			</patTemplate:tmpl>
			</tbody>
		</table>
		<!--<p class="alert alert-info">{NOBLACKBOOKINGS}</p>-->
		<input type="hidden" name="task" value="delete_multiple_blackbookings"/>
	</form>
</patTemplate:tmpl>