<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<script language="javascript">
		<!--
		function OnChange(dropdown) {
			cty = jomresJquery("select#xyz").val();
			var baseURL = "{JOMRES_SITEPAGE_URL}&task=registerProp_step1"
			location.href = baseURL + "&xyz=" + cty;
			return true;
		}
		function submitCountry() {
			document.regForm.action = "{JOMRES_SITEPAGE_URL}&task=registerProp_step2"
			document.regForm.submit();
			return true;
		}
		//-->
	</script>
	<h2 class="page-header">{_JOMRES_REGISTRATION_STEP_1_OF_2}</h2>

	<p>{REGISTRATION_INSTRUCTIONS_STEP1}</p>

	<div class="alert alert-info">
		<p>{MANAGEMENTPROCESS_DESC}
		<ul>
			<patTemplate:tmpl name="rows">
				<li>{DESCRIPTION}</li>
			</patTemplate:tmpl>
		</ul>
		</p>
	</div>
	<form action="{JOMRES_SITEPAGE_URL}" method="post" name="regForm" class="form-horizontal">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="xyz">{HCOUNTRY}</label>

				<div class="controls">
					{COUNTRIESDROPDOWN}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="region">{HREGION}</label>

				<div class="controls">
					{REGIONDROPDOWN}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="propertyType">{HPROPERTY_TYPE}</label>

				<div class="controls">
					{PROPERTY_TYPE_DROPDOWN}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="management_process">{MANAGEMENTPROCESS}</label>

				<div class="controls">
					{REALESTATEDROPDOWN}
				</div>
			</div>
			<div class="form-actions">
				<div class="">
					<a href="{JOMRES_SITEPAGE_URL}" class="btn"><i class="icon-remove"></i> {COMMON_CANCEL}</a>
					<button type="submit" class="btn btn-primary" onclick="submitCountry();">{COMMON_NEXT} <i
							class="icon-arrow-right icon-white"></i></button>
				</div>
			</div>
			<input type="hidden" name="task" value="registerProp_step2"/>
		</fieldset>
	</form>
</patTemplate:tmpl>