<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<div class="row-striped">
		<patTemplate:tmpl name="rows" unusedvars="strip">
			<div class="row-fluid">
				<div class="span2">{DATETIME}</div>
				<div class="span6">{NOTE}</div>
				<div class="span4">
					<div class="btn-toolbar">
						<a href="{EDITLINK}" class="btn btn-info"><i class="icon-edit icon-white "></i> {EDITTEXT}</a>
						<a href="{DELETELINK}" class="btn btn-danger"><i class="icon-remove icon-white "></i>
							{DELETETEXT}</a>
					</div>
				</div>
			</div>
		</patTemplate:tmpl>
	</div>
</patTemplate:tmpl>