<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<h2>{PAGETITLE}</h2>

	<form action="{JOMRES_SITEPAGE_URL}" method="post" name="adminForm">
		{JOMRESTOOLBAR}
		<table class="ui-widget-content ui-corner-all" width="100%" border="0">
			<tr>
				<td width="30%">{HTARIFFTITLE}</td>
				<td><input class="inputbox" type="text" size="10" name="rate_title" value="{TARIFFTITLE}"></input></td>
			</tr>
			<tr>
				<td>{HTARIFFDESC}</td>
				<td><input class="inputbox" type="text" size="30" name="rate_description" value="{TARIFFDESC}"></input>
				</td>
			</tr>
			<tr>
				<td>{HRATEPERDAY}</td>
				<td>{CURRENCY}<input class="inputbox" type="text" style="text-align:right" size="4"
									 name="roomrateperday" value="{RATEPERDAY}"/></td>
			</tr>
			<tr>
				<td>{HVALIDFROM}</td>
				<td>{VALIDFROM}</td>
			</tr>
			<tr>
				<td>{HVALIDTO}</td>
				<td>{VALIDTO}</td>
			</tr>
			<tr>
				<td>{HMINDAYS}</td>
				<td><input class="inputbox" type="text" style="text-align:right" size="4" name="mindays"
						   value="{MINDAYS}"/></td>
			</tr>
			<tr>
				<td>{HMAXDAYS}</td>
				<td><input class="inputbox" type="text" style="text-align:right" size="4" name="maxdays"
						   value="{MAXDAYS}"/></td>
			</tr>
			<tr>
				<td>{HMINPEOPLE}</td>
				<td><input class="inputbox" type="text" style="text-align:right" size="4" name="minpeople"
						   value="{MINPEOPLE}"/></td>
			</tr>
			<tr>
				<td>{HMAXPEOPLE}</td>
				<td><input class="inputbox" type="text" style="text-align:right" size="4" name="maxpeople"
						   value="{MAXPEOPLE}"/></td>
			</tr>
			<tr>
				<td>{HROOMTYPEDROPDOWN}</td>
				<td>{ROOMTYPEDROPDOWN}</td>
			</tr>
			<tr>
				<td>{HIGNOREPPPNDROPDOWN}</td>
				<td>{IGNOREPPPNDROPDOWN}</td>
			</tr>
			<tr>
				<td>{HALLOWWEEKENDSDROPDOWN}</td>
				<td>{ALLOWWEEKENDSDROPDOWN}</td>
			</tr>
			<tr>
				<td>{HWEEKENDONLY}</td>
				<td>{WEEKENDONLY}</td>
			</tr>
			<tr>
				<td>{HDAYOFWEEK}</td>
				<td>{DAYOFWEEK}</td>
			</tr>
			<tr>
				<td>{HMINROOMS}*</td>
				<td>{MINROOMS_ALREADYSELECTED}</td>
			</tr>
			<tr>
				<td>{HMAXROOMS}**</td>
				<td>{MAXROOMS_ALREADYSELECTED}</td>
			</tr>
			<tr>
				<td colspan="2">
					<p>*{MINROOMS_DESC}</p>

					<p>**{MAXROOMS_DESC}</p>
				</td>
			</tr>
		</table>
		<input type="hidden" name="no_html" value="1" />
		<input type="hidden" name="task" value="saveTariff">
		<input type="hidden" name="tariffUid" value="{TARIFFUID}"/>
	</form>
</patTemplate:tmpl>