<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<style>
		.REmail {
			border:solid 1px {INPUTBOXERRORBORDER};
			background-color: {INPUTBOXERRORBACKGROUND};
			}

		span.required {
			color: red;
		}
	</style>

	<script language="javascript">
		<!--
		function OnChange(dropdown) {
			var myindex = dropdown.selectedIndex
			var baseURL = "{JOMRES_SITEPAGE_URL}&task=editProperty"
			top.location.href = baseURL + "&propertyUid={PROPERTYUID}&selectedCountry=" + dropdown.options[myindex].value;
			return true;
		}
		//-->
	</script>
	<h2>{PAGETITLE}</h2>

	<patTemplate:tmpl name="change_country_warning" type="simpleCondition" requiredVars="changecountrywarning"
	<p class="ui-state-highlight">{CHANGECOUNTRYWARNING}</p>
</patTemplate:tmpl>
<p>{DELETEWARNING}</p>
<form action="{JOMRES_SITEPAGE_URL}" method="post" name="adminForm">
	{JOMRESTOOLBAR}
	<table class="ui-widget-content ui-corner-all" border="0" width="100%">
		<tr>
			<td width="30%">{HCOUNTRY}</td>
			<td>{COUNTRIESDROPDOWN}</td>
		</tr>
		<tr>
			<td>{HREGION}</td>
			<td>{REGIONDROPDOWN}</td>
		</tr>
		<tr>
			<td>{HPROPERTY_TYPE}</td>
			<td>{PROPERTY_TYPE_DROPDOWN}</td>
		</tr>
		<tr>
			<td>{HNAME}<span class="required">*</span></td>
			<td><input class="inputbox" type="text" size="20" name="property_name" value="{PROPERTY_NAME}"/></td>
		</tr>
		<tr>
			<td>{HSTREET}<span class="required">*</span></td>
			<td><input class="inputbox" type="text" size="20" name="property_street" value="{PROPERTY_STREET}"/></td>
		</tr>
		<tr>
			<td>{HTOWN}<span class="required">*</span></td>
			<td><input class="inputbox" type="text" size="20" name="property_town" value="{PROPERTY_TOWN}"/></td>
		</tr>
		<tr>
			<td>{HPOSTCODE}<span class="required">*</span></td>
			<td><input class="inputbox" type="text" size="20" name="property_postcode" value="{PROPERTY_POSTCODE}"/>
			</td>
		</tr>
		<tr>
			<td>{HTELEPHONE}<span class="required">*</span></td>
			<td><input class="inputbox" type="text" size="20" name="property_tel" value="{PROPERTY_TEL}"/></td>
		</tr>
		<tr>
			<td>{HFAX}</td>
			<td><input class="inputbox" type="text" size="20" name="property_fax" value="{PROPERTY_FAX}"/></td>
		</tr>
		<tr>
			<td>{HEMAIL}<span class="required">*</span></td>
			<td><input class="inputbox" type="text" size="20" name="property_email" value="{PROPERTY_EMAIL}"/></td>
		</tr>
		<tr>
			<td>{HSTARS}</td>
			<td>{STARSDROPDOWN}</td>
		</tr>
		<tr>
			<td>{HSUPERIOR}</td>
			<td>{SUPERIOR_DROPDOWN}</td>
		</tr>
		<tr>
			<td>Lat: (nn.nnnn)</td>
			<td><input id="lat" class="inputbox" type="text" size="20" name="lat" value="{LAT}"/></td>
		</tr>
		<tr>
			<td>Long: (nn.nnnn)</td>
			<td><input id="lng" class="inputbox" type="text" size="20" name="long" value="{LONG}"/></td>
		</tr>
		<tr>
			<td>{LATLONG_DESC}</td>
			<td>{MAP}</div></td>
		</tr>
		<tr>
			<td>{HFEATURES}</td>
			<td>
				<patTemplate:tmpl name="globalPfeatures">
					<div style="float:left;">
						<input type="checkbox" name="pid[]" value="{PID}" style="float:left;" {ISCHECKED}> {FEATURE}
					</div>
				</patTemplate:tmpl>
			</td>
		</tr>
		<tr>
			<td>{HPROPDESCRIPTION}<span class="required">*</span></td>
			<td>{PROPERTY_DESCRIPTION}</td>
		</tr>
		<tr>
			<td>{HCHECKINTIMES}</td>
			<td>{PROPERTY_CHECKIN_TIMES}</td>
		</tr>
		<tr>
			<td>{HAREAACTIVITIES}</td>
			<td>{PROPERTY_AREA_ACTIVITIES}</td>
		</tr>
		<tr>
			<td>{HDRIVINGDIRECTIONS}</td>
			<td>{PROPERTY_DRIVING_DIRECTIONS}</td>
		</tr>
		<tr>
			<td>{HAIRPORTS}</td>
			<td>{PROPERTY_AIRPORTS}</td>
		</tr>
		<tr>
			<td>{HOTHERTRANSPORT}</td>
			<td>{PROPERTY_OTHERTRANSPORT}</td>
		</tr>
		<tr>
			<td>{HPOLICIESDISCLAIMERS}</td>
			<td>{PROPERTY_POLICIES_DISCLAIMERS}</td>
		</tr>
		<tr>
			<td>{_JOMRES_METATITLE}</td>
			<td><input class="inputbox" type="text" size="70" name="metatitle" value="{METATITLE}"/></td>
		</tr>
		<tr>
			<td>{_JOMRES_METADESCRIPTION}</td>
			<td><input class="inputbox" type="text" size="70" name="metadescription" value="{METADESCRIPTION}"/></td>
		</tr>
		<tr>
			<td>{_JOMRES_METAKEYWORDS}</td>
			<td><input class="inputbox" type="text" size="70" name="metakeywords" value="{METAKEYWORDS}"/></td>
		</tr>
	</table>
	<input type="hidden" name="no_html" value="1" />
	<input type="hidden" name="property_uid" value="{PROPERTYUID}"/>
	<input type="hidden" name="task" value="saveProperty"/>
	{TOOLBAR2}
</form>
<h3>{UPLOADIMAGE}</h3>
<p class="ui-state-highlight">{SAVEBEFOREUPLOADWARNING}</p>
<form enctype="multipart/form-data" action="{JOMRES_SITEPAGE_URL}&task=uploadPropertyImage" method="post">
	<table class="ui-widget-content ui-corner-all" border="0" width="100%">
		<tr>
			<td width="30%"><input type='file' name='image'/></td>
			<td><input type="submit" value="{UPLOADIMAGE}" class="fg-button ui-state-default ui-corner-all"/></td>
		</tr>
		<tr>
			<td>{DELETEIMAGE}</td>
			<td>{IMAGE}</td>
		</tr>
	</table>
	<input type="hidden" name="no_html" value="1" />
</form>
</patTemplate:tmpl>