<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<script type="text/javascript">
		<!--
		jomresJquery(document).ready(function () {
			var oTable = jomresJquery('#list_micromanage_tariffs').dataTable({
				"bJQueryUI": true,
				"bStateSave": true,
				"sPaginationType": "full_numbers"
			});
		});
		//-->
	</script>
	<form action="{JOMRES_SITEPAGE_URL}" method="post" name="adminForm">
		{JOMRESTOOLBAR}
		<table width="100%" border="0" id="list_micromanage_tariffs">
			<thead>
			<tr>
				<th>{HLINKTEXT}</th>
				<th>{HROOMCLASS}</th>
				<th>{HRATETITLE}</th>
				<th>{HMINDAYS}</th>
				<th>{HMAXDAYS}</th>
				<th>{HMINPEOPLE}</th>
				<th>{HMAXPEOPLE}</th>
			</tr>
			</thead>
			<tbody>
			<patTemplate:tmpl name="rows">
				<tr>
					<td>{LINKTEXT}</td>
					<td>{ROOMCLASS}</td>
					<td>{RATETITLE}</td>
					<td>{MINDAYS}</td>
					<td>{MAXDAYS}</td>
					<td>{MINPEOPLE}</td>
					<td>{MAXPEOPLE}</td>
				</tr>
			</patTemplate:tmpl>
			</tbody>
		</table>
		<input type="hidden" name="task" value="saveTariff"/>
	</form>
</patTemplate:tmpl>