<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<div id="property_details">
		<div class="row-fluid">
			<div id="gallerywrapper" class="span7 well">{SLIDESHOW}</div>
			<div class="span5">
				<div class="big-price">{REAL_ESTATE_PROPERTY_PRICE}</div>
				<patTemplate:tmpl name="bookinglink" type="simpleCondition" requiredVars="link" unusedvars="nbsp">
					<div class="btn-toolbar"><a href="{LINK}"
												class="btn btn-primary property_details_buttons btn-large"><i
							class="icon-calendar pull-left"></i> {TEXT}</a></div>
				</patTemplate:tmpl>
				<patTemplate:tmpl name="contactuslink" type="simpleCondition" requiredVars="link" unusedvars="nbsp">
					<div class="btn-toolbar "><a href="{LINK}" class="btn property_details_buttons"><i
							class="icon-mail pull-left"></i> {TEXT}</a></div>
				</patTemplate:tmpl>
				<patTemplate:tmpl name="slideshowlink" type="simpleCondition" requiredVars="link" unusedvars="nbsp">
					<div class="btn-toolbar "><a href="{LINK}" class="btn property_details_buttons"><i
							class="icon-pictures pull-left"></i> {TEXT}</a></div>
				</patTemplate:tmpl>
				<patTemplate:tmpl name="tariffslink" type="simpleCondition" requiredVars="link" unusedvars="nbsp">
					<div class="btn-toolbar "><a href="{LINK}" class="btn property_details_buttons"><i
							class="icon-grid-view pull-left "></i> {TEXT}</a></div>
				</patTemplate:tmpl>
				<patTemplate:tmpl name="roomslistlink" type="simpleCondition" requiredVars="link" unusedvars="nbsp">
					<div class="btn-toolbar "><a href="{LINK}" class="btn property_details_buttons"><i
							class="icon-key pull-left"></i> {TEXT}</a></div>
				</patTemplate:tmpl>
				<div class="btn-toolbar"><a href="{PRINT_LINK}" target="_blank" class="btn property_details_buttons"><i
						class="icon-printer  pull-left"></i> {COMMON_PRINT}</a></div>
				<div style="clear:both;"></div>
				<div>{INLINE_CALENDAR}</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<p>&nbsp;</p>

	<div class="tabbable">
		<ul class="nav nav-tabs">
			<patTemplate:tmpl name="tabs_titles">
				<li class="{ACTIVE}"><a href="#{TAB_ANCHOR}" data-toggle="tab" id="{TAB_ID}">{TAB_TITLE}</a></li>
			</patTemplate:tmpl>
		</ul>
		<div class="tab-content">
			<patTemplate:tmpl name="tabs_content">
				<div class="tab-pane {ACTIVE}" id="{TAB_ANCHOR}">
					{TAB_CONTENT}
				</div>
			</patTemplate:tmpl>
		</div>
	</div>
	<div class="clearfix"></div>
	<p>&nbsp;</p>
</patTemplate:tmpl>