<patTemplate:tmpl name="pageoutput">
<script src="{LIVE_SITE}/jomres/javascript/jquery.jlabel-1.3.js" type="text/javascript"></script>
<style type="text/css">
	label.valid {
		width: 24px;
		height: 24px;
		background: url({LIVE_SITE}/jomres/images/valid.png) center center no-repeat;
		display: inline-block;
		text-indent: -9999px;
	}

	label.error {
		font-weight: bold;
		color: red;
		padding: 2px 8px;
		margin-top: 2px;
	}
</style>
<script type="text/javascript">
	<!--
	{BOOKEDDATES}
	var isSRP = false;
	/*var x*/
	var mininterval = {MININTERVAL};
	var rel_path = "{RELPATH}";
	var livesite = "{SUBMITURL}";
	var ajaxurl = "{JOMRES_SITEPAGE_URL_AJAX}";

	var noroomsselectedyetmessage = "{NOROOMSSELECTEDYETMESSAGE}";

	var validation_firstname = {VALIDATION_FIRSTNAME};
	var validation_surname = {VALIDATION_SURNAME};
	var validation_houseno = {VALIDATION_HOUSENO};
	var validation_street = {VALIDATION_STREET};
	var validation_town = {VALIDATION_TOWN};
	var validation_postcode = {VALIDATION_POSTCODE};
	var validation_country = {VALIDATION_COUNTRY};
	var validation_landline = {VALIDATION_LANDLINE};
	var validation_cellmobile = {VALIDATION_CELLMOBILE};
	var validation_email = {VALIDATION_EMAIL};

	var show_extras = {SHOWEXTRAS};
	var rooms_list_enabled = {JOMRES_ROOMSLISTENABLED};

	var error_class = "alert alert-error";
	var highlight_class = "alert alert-warning";

	function dateStatus(date) {
		var min = new Date({EARLIESTYEAR}, {EARLIESTMON}, {EARLIESTDAY});
		//var max = new Date(2050,10,05);
		if (date.getTime() < min.getTime())
			return true; // true says "disable"
		else
			return false; // leave other dates enabled
		//if (date.getTime() < min.getTime() || date.getTime() > max.getTime())
	}

	var success_class = "alert alert-success";

	// We're using a jquery plugin called jlabel to place labels inside inputs, unfortunately it didn't work with bootstrap so we've coded our own solution
	// The solution is hard coded into jquery.jlbel-1.3.js and may or may not work with other bootstrap templates. At this time it's too early to tell, there aren't enough bootstrap joomla templates out there yet
	// so we've added adjustment variables here so that the position can be tweaked without playing around with the .js file.
	/*
	 var jLabel_left_adjustment = 3;
	 var jLabel_top_adjustment = 2;
	 */
	var running_bootstrap = {BOOTSTRAP_JS_VAR};

	jomresJquery(document).ready(function () {

		jomresJquery('#ajaxform').attr('novalidate', 'novalidate'); // Disable html5 validation

		jomresJquery('#ajaxform').validate(
				{
					ignore: ".ignore",
					rules: {
						firstname: {
							minlength: 1,
							required: {VALIDATION_FIRSTNAME}
						},
						surname: {
							minlength: 1,
							required: {VALIDATION_SURNAME}
						},
						house: {
							minlength: 1,
							required: {VALIDATION_HOUSENO}
						},
						street: {
							minlength: 1,
							required: {VALIDATION_STREET}
						},
						town: {
							minlength: 1,
							required: {VALIDATION_TOWN}
						},
						postcode: {
							minlength: 1,
							required: {VALIDATION_POSTCODE}
						},
						tel_landline: {
							minlength: 1,
							required: {VALIDATION_LANDLINE}
						},
						tel_mobile: {
							minlength: 1,
							required: {VALIDATION_CELLMOBILE}
						},
						eemail: {
							email: true,
							required: {VALIDATION_EMAIL},
							remote: {
								url: ajaxurl + '&task=handlereq',
								type: "get",
								data: {
									field: 'email_usage_check',
									value: function () {
										return jomresJquery('#ajaxform :input[name="eemail"]').val();
									},
									property_uid_check: function () {
										return jomresJquery('#booking_form_property_uid').val();
									},
								}
							}
						}

					},

					messages: {
						eemail: { remote: "{EMAIL_ALREADY_INUSE}" }
					},

					highlight: function (label) {
						jomresJquery(label).closest('.control-group').addClass('error');
					},
					success: function (label) {
						label
								.text('OK!').addClass('valid')
								.closest('.control-group').addClass('success');
					}
				});


		{MODAL}
		jomresJquery.jheartbeat.set({
			url: ajaxurl + "&task=handlereq&no_html=1&field=heartbeat",
			delay: 30000
		});
		<patTemplate:tmpl name="onload">{ONLOAD}</patTemplate:tmpl>
	});

	function open_booking_form() {
		jomresJquery("#booking_form").dialog("open");
	}
	;

	jomresJquery(function(){
		jomresJquery("#country").change(function(){
			var selectedValue = jomresJquery(this).find(":selected").val();
			clause = "&task=get_region_dropdown_for_country_code&country="+selectedValue;
			jomresJquery.get(live_site_ajax + clause, function (data) {
				populateDiv("guest_region_div",data);
				});
			});
		});
	//-->
</script>
{CUSTOMFIELD_JAVASCRIPT}
{OPENBOOKINGOFRM_BUTTON} {BUTTON_BACK_TO_PROPERTY_DETAILS}
<div id="booking_form" {HIDDENSTYLE} title="{PROPERTYNAME}">
<form action="javascript:dobooking_validate();" name="ajaxform" id="ajaxform" method="post" class="form-horizontal">
<div id="messages">&nbsp;</div>
<!--<p>{AJAXFORM_INSTRUCTIONS}</p>-->

<patTemplate:tmpl name="manager_pricing" type="simpleCondition" requiredVars="_jomcomp_amend_override_accommodation_total">
	<fieldset>
		<div class="control-group">
			<label class="control-label" for="override_room_total">{_JOMCOMP_AMEND_OVERRIDE_ACCOMMODATION_TOTAL}</label>

			<div class="controls">
				<input class="input-medium ignore" type="number" name="override_room_total" id="override_room_total"
					   value=""/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="override_deposit">{_JOMCOMP_AMEND_OVERRIDE_DEPOSIT}</label>

			<div class="controls">
				<input class="input-medium ignore" type="number" name="override_deposit" id="override_deposit"
					   value=""/>
			</div>
		</div>
		<div class="form-actions">
			<a href="javascript:void(0);"
			   onclick="getResponse_override('override',jomresJquery('#override_room_total').val()+'^'+jomresJquery('#override_deposit').val())"
			   class="btn">{_JOMCOMP_AMEND_OVERRIDE_SAVE}</a>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<div id="override_response" class="jomres_message"></div>
			</div>
		</div>
	</fieldset>
</patTemplate:tmpl>

<patTemplate:tmpl name="coupons" type="simpleCondition" requiredVars="coupon_title">
	<h2 class="page-header">{COUPON_TITLE}</h2>

	<p>{COUPON_INSTRUCTIONS}</p>
	<fieldset>
		<div class="control-group">
			<label class="control-label" for="coupon">{COUPON_BUTTON}</label>

			<div class="controls">
				<input class="input-medium ignore" size="25" type="text" name="coupon" id="coupon"
					   value="{COUPON_CODE}"/>

				<div id="coupon_response" class="jomres_message help-block"></div>
			</div>
		</div>
		<div class="form-actions">
			<a class="btn" href="javascript:void(0);" onclick="getResponse('coupon',jomresJquery('#coupon').val())">{COUPON_BUTTON}</a>
		</div>
	</fieldset>
</patTemplate:tmpl>

<div id="arrivalcontainer">
	<h2 class="page-header">{AJAXFORM_PARTICULARS}</h2>

	<p>{AJAXFORM_PARTICULARS_DESC}</p>
	<fieldset>
		<div class="control-group">
			<label class="control-label" for="arrivalDate">{HARRIVALDATE}</label>

			<div class="controls">
				{ARRIVALDATE}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="departureDate">{HDEPARTUREDATE}</label>

			<div class="controls">
				{DEPARTUREDATE}
			</div>
		</div>
		<patTemplate:tmpl name="guesttypes">
			<div class="control-group">
				<label class="control-label" for="{FIELDNAME}">{TEXT}</label>

				<div class="controls">
					{DROPDOWN}
				</div>
			</div>
		</patTemplate:tmpl>
		<patTemplate:tmpl name="smoking" type="simpleCondition" requiredVars="hsmokingtitle">
			<div class="control-group">
				<label class="control-label" for="smoking">{HSMOKINGTITLE}</label>

				<div class="controls">
					{SMOKING}
				</div>
			</div>
		</patTemplate:tmpl>
	</fieldset>
</div>

<patTemplate:comment> ---------------------------------------- Classic rooms list ---------------------------------------- </patTemplate:comment>
<patTemplate:tmpl name="classic_rooms_list" type="simpleCondition" requiredVars="ajaxform_available_desc">
	<h2 class="page-header">{AJAXFORM_AVAILABLE_DESC}</h2>

	<p>{LOOKRIGHT}</p>

	<div class="alert">
		{ESTIMATEWARNING}
	</div>
	<patTemplate:tmpl name="roomfeaturesrowheader" type="simpleCondition" requiredVars="_jomres_bookingorm_roomfeature_filter">
		<h3 class="page-header">{_JOMRES_BOOKINGORM_ROOMFEATURE_FILTER}</h3>
	</patTemplate:tmpl>
	<patTemplate:tmpl name="roomfeaturesrow" type="simpleCondition" requiredVars="inputbox">
		<label class="checkbox">
			{INPUTBOX}
			{DESCRIPTION}
		</label>

	</patTemplate:tmpl>
	<br/>

	<div class="clearfix"></div>
	<div>
		<div id="selectedRooms">
			{SELECTEDROOM}
		</div>
		<div id="availRooms">
			{AVAILABLEROOMS}
		</div>
	</div>
</patTemplate:tmpl>

<patTemplate:comment> ---------------------------------------- Room type dropdowns ---------------------------------------- </patTemplate:comment>
<patTemplate:tmpl name="roomtype_dropdown_list" type="simpleCondition" requiredVars="ajaxform_available_desc">
	<h2 class="page-header">{AJAXFORM_AVAILABLE_DESC}</h2>

	<div class="alert">
		{ESTIMATEWARNING}
	</div>
	{AMENDBOOKING_SELECTEDROOMSDIV}
	<div id="availRooms">
		{AVAILABLEROOMS}
	</div>
</patTemplate:tmpl>

<patTemplate:tmpl name="extrasrow" type="simpleCondition" requiredVars="extras_header">
	<div id="extrascontainer">
		<h2 class="page-header">{EXTRAS_HEADER}</h2>
		<patTemplate:tmpl name="third_party_extras" type="simpleCondition" requiredVars="third_party_extra">
			{THIRD_PARTY_EXTRA}
		</patTemplate:tmpl>
		<patTemplate:tmpl name="extras" type="simpleCondition" requiredVars="ajaxform_extras">
			<div class="row-fluid">
				<div class="span2">
					{INPUTBOX}
				</div>
				<div class="span5">
					{NAME}
				</div>
				<!--<div class="span3">
					{OVERLIB_DESCRIPTION}
				</div>-->
				<div class="span5">
					{PRICE} {MODELTEXT}
				</div>
			</div>
		</patTemplate:tmpl>
	</div>
</patTemplate:tmpl>

<div class="row-fluid">
<div class="span7">
	<div id="bookingform_address">
		<h2 class="page-header">{AJAXFORM_ADDRESS}</h2>

		<div class="btn-toolbar">
			{GUESTDROPDOWN}
		</div>
		<fieldset>
			<div class="control-group {BOOTSTRAP_FIRSTNAME_WARNING}">
				<label class="control-label" for="firstname">{HFIRSTNAME}</label>

				<div class="controls">
					<input type="text" name="firstname" id="firstname" value="{FIRSTNAME}" title="{HFIRSTNAME}"
						   class="input-medium"/>
				</div>
			</div>

			<div class="control-group {BOOTSTRAP_SURNAME_WARNING}">
				<label class="control-label" for="surname">{HSURNAME}</label>

				<div class="controls">
					<input type="text" name="surname" id="surname" value="{SURNAME}" title="{HSURNAME}"
						   class="input-medium"/>
				</div>
			</div>

			<div class="control-group  {BOOTSTRAP_HOUSENO_WARNING}">
				<label class="control-label" for="house">{HHOUSENO}</label>

				<div class="controls">
					<input type="text" name="house" id="house" value="{HOUSENO}" title="{HHOUSENO}"
						   class="input-medium"/>
				</div>
			</div>

			<div class="control-group {BOOTSTRAP_STREET_WARNING}">
				<label class="control-label" for="street">{HSTREET}</label>

				<div class="controls">
					<input type="text" name="street" id="street" value="{STREET}" title="{HSTREET}"
						   class="input-medium"/>
				</div>
			</div>

			<div class="control-group {BOOTSTRAP_TOWN_WARNING}">
				<label class="control-label" for="town">{HTOWN}</label>

				<div class="controls">
					<input type="text" name="town" id="town" value="{TOWN}" title="{HTOWN}" class="input-medium"/>
				</div>
			</div>
			
			<div class="control-group {BOOTSTRAP_POSTCODE_WARNING}">
				<label class="control-label" for="postcode">{HPOSTCODE}</label>

				<div class="controls">
					<input type="text" name="postcode" id="postcode" value="{POSTCODE}" title="{HPOSTCODE}"
						   class="input-medium"/>
				</div>
			</div>

			<div class="control-group {BOOTSTRAP_COUNTRY_WARNING}">
				<label class="control-label" for="country">{HCOUNTRY}</label>

				<div class="controls">
					{COUNTRY}
				</div>
			</div>

			<div class="control-group {BOOTSTRAP_REGION_WARNING}">
				<label class="control-label" for="region">{HREGION}</label>

				<div class="controls">
					<div id="guest_region_div">{REGION_DROPDOWN}</div>
				</div>
			</div>

			<div class="control-group {BOOTSTRAP_LANDLINE_WARNING}">
				<label class="control-label" for="tel_landline">{HTEL}</label>

				<div class="controls">
					<input type="tel" name="tel_landline" id="tel_landline" value="{TEL}" title="{HTEL}"
						   class="input-medium"/>
				</div>
			</div>

			<div class="control-group {BOOTSTRAP_CELLMOBILE_WARNING}">
				<label class="control-label" for="tel_mobile">{HMOBILE}</label>

				<div class="controls">
					<input type="tel" name="tel_mobile" id="tel_mobile" value="{MOBILE}" title="{HMOBILE}"
						   class="input-medium"/>
				</div>
			</div>

			<div class="control-group {BOOTSTRAP_EMAIL_WARNING}">
				<label class="control-label" for="eemail">{HEMAIL}</label>

				<div class="controls">
					<input type="email" name="eemail" id="eemail" value="{EMAIL}" title="{HEMAIL}" class="input-medium"
					{EMAIL_INPUT_DISABLED}/>
				</div>
			</div>

			<patTemplate:tmpl name="customfields" type="simpleCondition" requiredVars="fieldname">
				<div class="control-group {WARNING}">
					<label class="control-label" for="{FIELDNAME}">{DESCRIPTION}</label>

					<div class="controls">
						<input type="text" name="{FIELDNAME}" id="{FIELDNAME}" value="{DEFAULT_VALUE}"
							   class="input-medium"/>
					</div>
				</div>
			</patTemplate:tmpl>
		</fieldset>
		<!--
		<div class="row-fluid">
			<div class="span12 alert alert-warning">
				{REQUIREDTEXT}
			</div>
		</div>
		-->
	</div>
</div>
<div class="span5">
	<div id="totalsWrapper">
		<div id="totals">
			<h2 class="page-header">{PRICE_SUMMARY}</h2>

			<div class="well">
				<p><span id="staydays"></span> {ACCOMMODATION_NIGHTS} <span id="roompernight"></span>
					{ACCOMMODATION_PERROOM}</p>

				<p><span id="totalinparty"></span> {BILLING_TOTALINPARTY}</p>

				<p><span id="discount" class="jomres_message">&nbsp;</span></p>

				<div class="row-fluid">
					<div class="span9">
						{ROOM_TOTAL_EX_TAX}
					</div>
					<div class="span3">
						<span id="room_total_ex_tax"></span>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span9">
						{ROOM_TOTAL_INC_TAX}
					</div>
					<div class="span3">
						<span id="room_total_inc_tax"></span>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span9">
						{ROOM_TOTAL_ACCOM_TAX}
					</div>
					<div class="span3">
						<span id="taxtotal"></span>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span9">
						{EXTRAS_TOTAL}
					</div>
					<div class="span3">
						<span id="extrastotal_totals_panel"></span>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span9">
						{EXTRAS_TAX}
					</div>
					<div class="span3">
						<span id="extra_tax"></span>
					</div>
				</div>
				<patTemplate:tmpl name="coupons_totals" type="simpleCondition" requiredVars="coupon_discount_value">
					<div class="row-fluid">
						<div class="span9">
							{COUPON_DISCOUNT_VALUE}
						</div>
						<div class="span3">
							<span id="coupon_discount_value"></span>
						</div>
					</div>
				</patTemplate:tmpl>
				<div class="row-fluid">
					<div class="span9">
						{SINGLE_PERSON_SUPPLIMENT}
					</div>
					<div class="span3">
						<span id="single_suppliment"></span>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span9">
						{PERSONAL_DISCOUNT}
					</div>
					<div class="span3">
						<span id="personal_discount"></span>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span9">
						<strong>{BILLING_TOTAL}</strong>
					</div>
					<div class="span3">
						<strong><span id="grandtotal"></span></strong>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span9">
						{DEPOSIT}
					</div>
					<div class="span3">
						<span id="deposit"></span>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span9">
						{_JOMRES_BOOKINGORM_ROOMTOTAL_BALANCE}
					</div>
					<div class="span3">
						<span id="balance"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div class="form-actions" id="bookingform_footer">
	<div id="submitbutton">
		<input type="submit" name="confirmbooking" value="{SUBMIT}" class="btn btn-large btn-primary"/>
	</div>
</div>
<input type="hidden" id="booking_form_property_uid" name="property_uid" value="{PROPERTYUID}">
</form>
</div>
<div class="clearfix"></div>
</patTemplate:tmpl>