<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<h2 class="page-header">{PAGETITLE}</h2>

	<form action="" method="post" name="adminForm">
		{JOMRESTOOLBAR}
		<table id="frontend_list_subscription_packages" width="100%" class="table table-striped">
			<thead>
			<tr>
				<th>ID</th>
				<th>{HNAME}</th>
				<th>{HDESCRIPTION}</th>
				<th>{HFREQUENCY}</th>
				<th>{HTRIALPERIOD}</th>
				<th>{HTRIALAMOUNT}</th>
				<th>{HFULLAMOUNT}</th>
			</tr>
			</thead>
			<tbody>
			<patTemplate:tmpl name="rows" unusedvars="nbsp">
				<tr>
					<td>{SUBSCRIBE}</td>
					<td>{NAME}</td>
					<td>{DESCRIPTION}</td>
					<td>{FREQUENCY}</td>
					<td>{TRIALPERIOD}</td>
					<td>{TRIALAMOUNT}</td>
					<td>{FULLAMOUNT}</td>
				</tr>
			</patTemplate:tmpl>
			</tbody>
		</table>
		<input type="hidden" name="task" value="editTaxrate"/>
	</form>
</patTemplate:tmpl>