<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<script language="JavaScript" type="text/javascript">
		<!--
		jomresJquery(document).ready(function () {
			make_datatable('frontend_list_properties', '{PAGETITLE}', '{LIVESITE}');
		});
		//-->
	</script>
	<h2 class="page-header">{PAGETITLE}</h2>

	<form action="index.php" method="post" name="adminForm">
		<table width="100%" id="frontend_list_properties" class="table table-striped">
			<thead>
			<tr>
				<th>{HPUBLISHLINK}</th>
				<th>{HPROPERTYNAME}</th>
				<th class="hidden-phone">{HPROPERTYADDRESS}</th>
			</tr>
			</thead>
			<tbody>
			<patTemplate:tmpl name="rows" unusedvars="nbsp">
				<tr>
					<td>{PUBLISHLINK}</td>
					<td><a href="{SWITCHLINK}">{PROPERTYNAME}</a></td>
					<td class="hidden-phone">{PROPERTYADDRESS}</td>
				</tr>
			</patTemplate:tmpl>
			</tbody>
		</table>
		<input type="hidden" name="option" value="com_jomres"/>
		<input type="hidden" name="task" value=""/>
	</form>
</patTemplate:tmpl>