<patTemplate:tmpl name="pageoutput">
	<script type="text/javascript">
		<!--
		// Moves the menu to the content/component area (above the Jomres output), however that will be overriden by navbar-fixed-bottom or navbar-fixed-top
		jomresJquery(document).ready(function () {
			var $content = jomresJquery('#jomres-menu-pinned').html();
			jomresJquery('#jomres_alternate_menu_position').html($content);
			jomresJquery('#jomres-menu-pinned').empty(); // making sure that the old div doesn't have the accordion applied to it.
		});

		//-->
	</script>

	<div id="jomres-menu-pinned" class="ui-helper-hidden">
		<div id="navbar" class="navbar">
			<patTemplate:comment> for Pills remove 'navbar navbar-fixed-bottom'. To pin to the top, add navbar-fixed-top
				to the class, to pin it to the bottom add navbar-fixed-bottom.
			</patTemplate:comment>
			<div class="navbar-inner">
				<patTemplate:comment> for Pills remove 'navbar-inner'</patTemplate:comment>
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>

					<div class="nav-collapse">
						<ul class="nav">
							<patTemplate:comment> for Pills add 'nav-pills' to the class here</patTemplate:comment>
							<patTemplate:tmpl name="button_output">
								{DIV}
							</patTemplate:tmpl>
						</ul>
					</div>
					<!--<div class="container">
						<div class="navbar-form pull-right">{MENUITEM_TIMEZONE_DROPDOWN}</div>
						<div class="navbar-form pull-right">{MENUITEM_EDITING_MODE_DROPDOWN}</div>
						<div class="navbar-form pull-right">{MENUITEM_LANGDROPDOWN}</div>
						<li class="nav pull-right">{MENUITEM_MANAGEMENT_VIEW_DROPDOWN}</li>
						<li class="nav pull-right">{MENUITEM_TIMEZONEBLURB}</li>
					</div>-->
				</div>
			</div>
		</div>
	</div>
</patTemplate:tmpl>