<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<li id="fat-menu" class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">{CATEGORY}<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<patTemplate:tmpl name="rows" unusedvars="strip">
				<li class="{ACTIVE} {DISABLED_CLASS}"><a href="{LINK}" {TARGET}><img src="{IMAGE_PATH}{IMAGE}"
																					 border="0" width="20px"
																					 height="20px" alt="{MENU_NAME}"/>
					{MENU_NAME}</a></li>
			</patTemplate:tmpl>
		</ul>
	</li>
</patTemplate:tmpl>