<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<h2 class="page-header">{_JOMRES_CART_TITLE}</h2>

	<div class="alert">{_JOMRES_CART_INFO}</div>
	<table width="100%" border="0" class="table table-striped">
		<thead>
		<tr>
			<th>{_JOMRES_COM_MR_QUICKRES_STEP2_PROPERTYNAME}</th>
			<th>{_JOMRES_COM_MR_VIEWBOOKINGS_ARRIVAL}</th>
			<th>{_JOMRES_COM_MR_VIEWBOOKINGS_DEPARTURE}</th>
			<th>{_JOMRES_COM_MR_EB_PAYM_CONTRACT_TOTAL}</th>
			<th>{_JOMRES_COM_MR_ROOM_DELETE}</th>
		</tr>
		</thead>
		<tbody>
		<patTemplate:tmpl name="rows" unusedvars="nbsp">
			<tr>
				<td>{PROPERTYNAME}</td>
				<td>{ARRIVAL}</td>
				<td>{DEPARTURE}</td>
				<td>{CONTRACT_TOTAL}</td>
				<td><a href="{DELETELINK}"><img src="{DELETELINK_IMAGE}" width="20px" height="20px"/></a></td>
			</tr>
		</patTemplate:tmpl>
		</tbody>
	</table>
	<br/>

	<p class="lead">{_JOMRES_COM_INVOICE_LETTER_GRANDTOTAL} {GRANDTOTAL}</p>

	<div class="form-actions">
		<a href="{CONFIRM_BOOKINGS_LINK}" class="btn btn-primary">{_JOMRES_CART_CONFIRM_BOOKINGS}</a>
	</div>
</patTemplate:tmpl>