<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<script type="text/javascript">
		<!--
		var confirmation_thanks = "{_JOMRES_REVIEWS_THANKS_FOR_CONFIRM}";
		var confirmation_already = "{_JOMRES_REVIEWS_ALREADY_CONFIRMED}";

		var show_thanks = {SHOW_THANKS};

		jomresJquery(document).ready(function () {
			if (!show_thanks) {
				jomresJquery("#thanks_field").hide();
			}
		});

		function confirm_review(rating_id, state) {
			div_name = '#agree_thumbs' + rating_id;
			//
			jomresJquery.get('{JOMRES_SITEPAGE_URL_AJAX}&task=review_confirm&rating_id=' + rating_id + '&state=' + state, function (data) {
				jomresJquery('.result').html(data);

				if (data == 1) {
					jomresJquery(div_name).empty();
					jomresJquery(div_name).addClass('alert alert-success');
					jomresJquery(div_name).css({"font-size":"12px"});
					jomresJquery(div_name).text(confirmation_thanks);
				}
				else {
					jomresJquery(div_name).empty();
					jomresJquery(div_name).addClass('alert alert-error');
					jomresJquery(div_name).css({"font-size":"12px"});
					jomresJquery(div_name).text(confirmation_already);
				}
			});
		}
		//-->
	</script>

	<div id="thanks_field">
		<div class="alert alert-success">
			<button class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
			{_JOMRES_REVIEWS_THANKS_FOR_REVIEW}
		</div>
	</div>
	<div itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
		<h2>
			<span itemprop="itemreviewed">{PROPERTY_NAME}</span><!-- hotel name -->
		<span itemprop="rating" itemscope itemtype="http://data-vocabulary.org/Rating">
		{_JOMRES_REVIEWS_AVERAGE_RATING}
			<span itemprop="average">{AVERAGE_RATING}</span> 
         	<meta itemprop="best" content="10"/>  
      		<meta itemprop="worst" content="1"/>
		</span><!-- average rating --> -
			{_JOMRES_REVIEWS_TOTAL_VOTES}
			<span itemprop="count">{NUMBER_OF_REVIEWS}</span><!-- number of reviews -->
		</h2>
	</div>

	<patTemplate:tmpl name="rows" unusedvars="strip">
		<div class="page-header">
			<div class="row-fluid">
				<div class="span9"><h3>{REVIEW_TITLE}</h3></div>
				<div class="span3" align="right">{RATING_STARS}</div>
			</div>
			<div class="small">{_JOMRES_REVIEWS_DATE} {RATING_DATE} {_JOMRES_REVIEWS_REVIEWED_BY}{USERNAME}</div>
		</div>
		<div class="row-fluid">
			<div class="span4 well">
				<div class="row-fluid">
					<div class="span9">{_JOMRES_REVIEWS_RATING_1}</div>
					<div class="span3"><span class="label label-info">{RATING_1}</span></div>
				</div>
				<div class="row-fluid">
					<div class="span9">{_JOMRES_REVIEWS_RATING_2}</div>
					<div class="span3"><span class="label label-info">{RATING_2}</span></div>
				</div>
				<div class="row-fluid">
					<div class="span9">{_JOMRES_REVIEWS_RATING_3}</div>
					<div class="span3"><span class="label label-info">{RATING_3}</span></div>
				</div>
				<div class="row-fluid">
					<div class="span9">{_JOMRES_REVIEWS_RATING_4}</div>
					<div class="span3"><span class="label label-info">{RATING_4}</span></div>
				</div>
				<div class="row-fluid">
					<div class="span9">{_JOMRES_REVIEWS_RATING_5}</div>
					<div class="span3"><span class="label label-info">{RATING_5}</span></div>
				</div>
				<div class="row-fluid">
					<div class="span9">{_JOMRES_REVIEWS_RATING_6}</div>
					<div class="span3"><span class="label label-info">{RATING_6}</span></div>
				</div>
			</div>
			<div class="span8">
				<small><cite title="{USERNAME}">{_JOMRES_REVIEWS_REVIEWBODY_SAID}</cite></small>
				<blockquote>
					<p>
						{REVIEW_DESCRIPTION}
					</p>
				</blockquote>
				<small>{_JOMRES_REVIEWS_PROS}</small>
				<blockquote>
					<p>
						{PROS}
					</p>
				</blockquote>
				<small>{_JOMRES_REVIEWS_CONS}</small>
				<blockquote>
					<p>
						{CONS}
					</p>
				</blockquote>
				<div class="btn-toolbar">
					<div class="btn-group" id="agree_thumbs{RATING_ID}">
						{THUMB_UP}{THUMB_DOWN}
					</div>
					<div class="btn-group"><a href="{REPORT_URL}" class="btn"><i class="icon-warning"></i>
						{REPORT_TEXT}</a></div>
				</div>
			</div>
		</div>
		<p>&nbsp;</p>
		<!--<div>{NUMBER_AGREE} {_JOMRES_REVIEWS_NUMBER_AGREE_WITHREVIEW}&nbsp;</div>
		<div>{NUMBER_DISAGREE} {_JOMRES_REVIEWS_NUMBER_DISAGREE_WITHREVIEW}&nbsp;</div>-->
	</patTemplate:tmpl>
	<div>{_JOMRES_REVIEWS_ADD_REVIEW}</div>
</patTemplate:tmpl>