<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<script language="JavaScript" type="text/javascript">
		<!--
		jomresJquery(document).ready(function () {
			make_datatable('view_favourites', '{PAGETITLE}', '{LIVESITE}');
		//-->
	</script>
	<h2 class="page-header">{_JOMCOMP_MYUSER_VIEWFAVOURITES}</h2>
	<table id="view_favourites" width="100%" class="table table-striped">
		<thead>
		<tr>
			<th>&nbsp;</th>
			<th>{HPNAME}</th>
			<th>&nbsp;</th>
			<th>{HPTYPES}</th>
			<th>&nbsp;</th>
		</tr>
		</thead>
		<tbody>
		<patTemplate:tmpl name="rows" unusedvars="nbsp">
			<tr>
				<td>{IMAGE}</td>
				<td><a href="{PROPERTYDETAILSLINK}">{PROPERTYNAME}</a></td>
				<td>{PROP_TOWN}, {PROP_REGION}, {PROP_COUNTRY}, {PROP_TEL}</td>
				<td>{TYPE}</td>
				<td><a href="{REMOVELINK}" class="btn btn-danger">{REMOVETEXT}</a></td>
			</tr>
		</patTemplate:tmpl>
		</tbody>
	</table>
</patTemplate:tmpl>