<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<script type="text/javascript">
		<!--
		jomresJquery(document).ready(function () {
			var oTable = jomresJquery('#access_control_list').dataTable({
				"bJQueryUI": false,
				"bStateSave": true,
				"sPaginationType": "bootstrap",
				"sDom": "<'row-fluid'<'span4'l><'span4'T><'span4'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
				"sWrapper": "dataTables_wrapper form-inline",
				"oTableTools": {
					"sSwfPath": "{LIVESITE}/jomres/javascript/copy_cvs_xls_pdf.swf",
					"aButtons": [
						"copy",
						{
							"sExtends": "csv",
							"sCharSet": "utf8"
						},
						{
							"sExtends": "xls",
							"sCharSet": "utf16le"
						},
						{
							"sExtends": "pdf",
							"sCharSet": "utf8",
							"sPdfOrientation": "landscape",
							"sTitle": "{_JOMRES_ACCESS_CONTROL_TITLE}"
						},
						"print"
					]
				}
			});
			jomresJquery.extend(jomresJquery.fn.dataTableExt.oStdClasses, {
				"sSortAsc": "header headerSortDown",
				"sSortDesc": "header headerSortUp",
				"sSortable": "header"
			});
		});

		function change_access_level(minicomp, level) {
			cmd = '{JOMRES_SITEPAGE_URL_ADMIN_AJAX}&task=ajax_change_access_level&minicomp=' + minicomp + '&new_level=' + level;
			jomresJquery.get(cmd, function (data) {
				//	if (data == 1)
				//		{

				//		jomresJquery(div_name).attr("src",curr_img);
				//		}
			});
		}
		//-->
	</script>
	<h2 class="page-header">{_JOMRES_ACCESS_CONTROL_TITLE}</h2>

	<p>{_JOMRES_ACCESS_CONTROL_DESC}</p>

	<p>{_JOMRES_ACCESS_CONTROL_DESC_ADDENDUM}</p>

	<table id="access_control_list" width="100%" class="table table-striped">
		<thead>
		<tr>
			<th>Minicomponent name</th>
			<th>Access level</th>
		</tr>
		</thead>
		<tbody>
		<patTemplate:tmpl name="rows" unusedvars="nbsp">
			<tr>
				<td>{SCRIPTNAME}</td>
				<td>{DROPDOWN}</td>
			</tr>
		</patTemplate:tmpl>
		</tbody>
	</table>
</patTemplate:tmpl>