<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<style type="text/css">
		table.ui-widget-header ui-corner-all tr.row2 {
			background-color: #fc0000;
			text-align: left;
		}
	</style>

	<form action="{JOMRES_SITEPAGE_URL_ADMIN}" method="post" name="adminForm">
		{JOMRESTOOLBAR}
		<table class="table table-striped" width="100%">
			<thead>
			<tr>
				<th>{HPROPERTYNAME}</th>
				<th>{HPROPERTYADDRESS}</th>
				<th>{HCRATE_DROPDOWN}</th>
			</tr>
			</thead>
			<tbody>
			<patTemplate:tmpl name="rows" unusedvars="nbsp">
				<tr>
					<td>{VIEWLINK}{PROPERTYNAME}</td>
					<td>{PROPERTYADDRESS}</td>
					<td>{CRATE_DROPDOWN}</td>
				</tr>
			</patTemplate:tmpl>
			</tbody>
		</table>
		<input type="hidden" name="option" value="com_jomres"/>
		<input type="hidden" name="task" value="editcrate"/>
		<input type="hidden" name="boxchecked" value="0">
	</form>
</patTemplate:tmpl>