<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<script type="text/javascript">
		<!--
		jomresJquery(document).ready(function () {
			make_datatable('asamodule_report', 'Asamodule Info', '{LIVESITE}');
		});
		//-->
	</script>
	<h2 class="page-header">Asamodule Info</h2>

	<p>{INFO}</p>
	<table id="asamodule_report" width="100%" class="table table-striped">
		<thead>
		<tr>
			<th>Event</th>
			<th>Task</th>
			<th>Info</th>
			<th>Example link</th>
			<th>Manual link</th>
		</tr>
		</thead>
		<tbody>
		<patTemplate:tmpl name="rows" unusedvars="nbsp">
			<tr>
				<td>{EVENT}</td>
				<td>{TASK}</td>
				<td>{INFO}</td>
				<td>{EXAMPLE_LINK}</td>
				<td>{MANUAL_LINK}</td>
			</tr>
		</patTemplate:tmpl>
		</tbody>
	</table>
</patTemplate:tmpl>