<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<script type="text/javascript">
		<!--
		function selectAll() {
			jomresJquery("input[type='checkbox']:not([disabled='disabled'])").attr('checked', true);
		}
		//-->
	</script>
	<h2 class="page-header">{_JOMRES_EDIT_PROFILE}</h2>

	<p>{INSTRUCTIONS}</p>

	<form action="{JOMRES_SITEPAGE_URL_ADMIN}" method="post" name="adminForm" class="form-horizontal">
		{JOMRESTOOLBAR}
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="accesslevel">{HACCESSLEVEL}</label>

				<div class="controls">
					{ACCESSLEVEL}
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="superpropertymanager">{HSUPERPROP}</label>

				<div class="controls">
					{SUPERPROP}
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="apikey">APIKEY</label>

				<div class="controls">
					<input type="text" class="input-xlarge" name="apikey" value="{APIKEY}" READONLY
						   onclick="select_all(this);"/>

					<p class="help-block">
						{NEWAPIKEY_LINK}
					</p>
				</div>
			</div>

			<table width="100%" class="table table-striped">
				<thead>
				<tr>
					<th><input type="checkbox" name="toggle" value="" onclick="jomres_checkAll({TOTALINLISTPLUSONE});"/>
					</th>
					<th>{_JRPORTAL_PROPERTIES_PROPERTYNAME}</th>
					<th class="hidden-phone">{_JOMRES_SHOWPROFILES_USERSWITHACCESS}</th>
				</tr>
				</thead>
				<tbody>
				<patTemplate:tmpl name="rows" unusedvars="strip">
					<tr>
						<td>{INPUT}</td>
						<td>{PROPERTYNAME}</td>
						<td class="hidden-phone">{MANAGERS}</td>
					</tr>
				</patTemplate:tmpl>
				</tbody>
			</table>

			<input type="hidden" name="boxchecked" value="0">
			<input type="hidden" name="no_html" value="1"/>
			<input type="hidden" name="userid" value="{ID}"/>
			<input type="hidden" name="option" value="com_jomres"/>
			<input type="hidden" name="task" value="saveProfile"/>
		</fieldset>
	</form>
</patTemplate:tmpl>