<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<script type="text/javascript">
		<!--
		jomresJquery(document).ready(function () {
			make_datatable('list_pfeatures', '{PAGETITLE}', '{LIVESITE}');
		});
		//-->
	</script>
	<h2 class="page-header">{PAGETITLE}</h2>

	<form action="{JOMRES_SITEPAGE_URL_ADMIN}" method="post" name="adminForm">
		{JOMRESTOOLBAR}
		<table id="list_pfeatures" width="100%" class="table table-striped">
			<thead>
			<tr>
				<th><input type="checkbox" name="toggle" value="" onclick="jomres_checkAll({TOTALINLISTPLUSONE});"/>
				</th>
				<th>&nbsp;</th>
				<th>{HPFEATURETITLE}</th>
				<th class="hidden-phone">{HPFEATUREDESCRIPTION}</th>
				<th class="hidden-phone">{HPROPERTY_TYPES}</th>
				<th class="hidden-phone">{HJOMRES_A_ICON}</th>
			</tr>
			</thead>
			<tbody>
			<patTemplate:tmpl name="rows" unusedvars="strip">
				<tr>
					<td>{CHECKBOX}</td>
					<td>{LINKTEXT}</td>
					<td>{PFEATURETITLE}</td>
					<td class="hidden-phone">{PFEATUREDESCRIPTION}</td>
					<td class="hidden-phone">{PROPERTY_TYPES}</td>
					<td class="hidden-phone"><img src="{IMAGE}"/></td>
				</tr>
			</patTemplate:tmpl>
			</tbody>
		</table>
		<input type="hidden" name="boxchecked" value="0">
		<input type="hidden" name="option" value="com_jomres"/>
		<input type="hidden" name="task" value="editPfeature"/>
		<input type="hidden" name="Itemid" value="{ITEMID}"/>
	</form>
</patTemplate:tmpl>