<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<script type="text/javascript">
		<!--
		jomresJquery(document).ready(function () {
			make_datatable('admin_list_regions', '{PAGETITLE}', '{LIVESITE}');
		});
		jomresJquery(function () {
			var $toolbar_content = jomresJquery('#toolbar').html();
			var $content = $toolbar_content + jomresJquery('#filter_invoices').html();
			jomresJquery('#toolbar').html($content);
			jomresJquery('#filter_invoices').empty();
		});
		//-->
	</script>
	<h2 class="page-header">{_JOMRES_EDIT_REGION_TITLE}</h2>
	{JOMRESTOOLBAR}

	<table id="admin_list_regions" width="100%" class="table table-striped">
		<thead>
		<tr>
			<th></th>
			<th>{_JOMRES_EDIT_COUNTRY_COUNTRYNAME}</th>
			<th>{_JOMRES_EDIT_REGION_REGIONNAME}</th>
		</tr>
		</thead>
		<tbody>
		<patTemplate:tmpl name="rows" unusedvars="nbsp">
			<tr>
				<td><a href="{EDIT_URL}" class="btn"><i class="icon-edit"></i> {COMMON_EDIT}</a></td>
				<td>{COUNTRYNAME}</td>
				<td>{REGIONNAME}</td>
			</tr>
		</patTemplate:tmpl>
		</tbody>
	</table>
</patTemplate:tmpl>