<patTemplate:tmpl name="pageoutput" unusedvars="strip">

	<h2 class="page-header">{TITLE}</h2>

	<p class="alert">{INSTRUCTIONS}</p>

	<p class="">{EDITWARNINGNOTE}</p>
	{JOMRESTOOLBAR}
	<table class="table table-striped" width="100%">
		<thead>
		<tr>
			<th></th>
			<th>{HTEMPLATENAME}</th>
			<th class="hidden-phone">{HCUSTOMISED}</th>
			<th class="hidden-phone">{HLAST_EDITED_DISK}</th>
			<th class="hidden-phone">{HLAST_EDITED_DB}</th>
			<th class="hidden-phone">{HLAST_WARNINGICON}</th>
			<th>{HPTYPE}</th>
		</tr>
		</thead>
		<tbody>
		<patTemplate:tmpl name="rows" unusedvars="nbsp">
			<tr>
				<td>
					{EDIT_LINKS}
				</td>
				<td>{TEMPLATENAME}</td>
				<td class="hidden-phone">{EDITED}</td>
				<td class="hidden-phone">{LAST_EDITED_DISK}</td>
				<td class="hidden-phone">{LAST_EDITED_DB}</td>
				<td class="hidden-phone">{WARNINGICON}</td>
				<td>{PROPERTY_TYPE}</td>
			</tr>
		</patTemplate:tmpl>
		</tbody>
	</table>
</patTemplate:tmpl>