<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<script type="text/javascript">
		<!--
		jomresJquery(document).ready(function () {
			make_datatable('list_taxrules', '{PAGETITLE}', '{LIVESITE}');
		});
		//-->
	</script>
	<h2 class="page-header">{PAGETITLE}</h2>
	<p>{_JOMRES_TAX_RULE_INFO}</p>
	<form action="{JOMRES_SITEPAGE_URL_ADMIN}" method="post" name="adminForm">
		{JOMRESTOOLBAR}
		<table id="list_taxrules" width="100%" class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th class="hidden-phone">ID</th>
					<th>{_JRPORTAL_TAXRATES_CODE}</th>
					<th>{_JRPORTAL_TAXRATES_DESCRIPTION}</th>
					<th>{_JOMRES_COM_MR_VRCT_PROPERTY_HEADER_COUNTRY}</th>
					<th>{_JOMRES_COM_MR_VRCT_PROPERTY_HEADER_REGION}</th>
					<th>{_JRPORTAL_TAXRATES_RATE}</th>
				</tr>
			</thead>
			<tbody>
			<patTemplate:tmpl name="rows" unusedvars="strip">
				<tr>
					<td>{EDITLINK}</td>
					<td class="hidden-phone">{ID}</td>
					<td>{CODE}</td>
					<td>{DESCRIPTION}</td>
					<td>{COUNTRY}</td>
					<td>{REGION}</td>
					<td>{RATE}</td>
				</tr>
			</patTemplate:tmpl>
			</tbody>
		</table>
		<input type="hidden" name="task" value="edit_tax_rule"/>
	</form>
</patTemplate:tmpl>
