<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<h2 class="page-header">{PAGETITLE}</h2>

	<p>{INFO}</p>

	<form action="{JOMRES_SITEPAGE_URL_ADMIN}" method="post" name="adminForm">
		{JOMRESTOOLBAR}
		<table class="table table-striped" width="100%">
			<patTemplate:tmpl name="rows" unusedvars="nbsp">
				<tr>
					<td width="1%">{CHECKBOX}</td>
					<td>{SHORTCODE}</td>
					<td>{LONGCODE}</td>
				</tr>
			</patTemplate:tmpl>
		</table>
		<input type="hidden" name="option" value="com_jomres"/>
		<input type="hidden" name="task" value="save_languageChoiceSelection"/>
	</form>
</patTemplate:tmpl>
