<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<script type="text/javascript">
		<!--
		jomresJquery(document).ready(function () {
			make_datatable('list_reviews_properties', '{_JOMRES_REVIEWS}', '{LIVESITE}');
		});
		//-->
	</script>
	<h2 class="page-header">{_JOMRES_REVIEWS}</h2>

	<p>{_JOMRES_REVIEWS_ADMIN_PROPERTYLISTINFO}</p>
	<table id="list_reviews_properties" width="100%" class="table table-striped">
		<thead>
		<tr>
			<th>{HPROPERTYNAME}</th>
			<th class="hidden-phone">{_JOMRES_REVIEWS_ADMIN_NUMBERUNPUBLISHED}</th>
			<th class="hidden-phone">{_JOMRES_REVIEWS_ADMIN_NUMBERTOTAL}</th>
			<th class="hidden-phone">{_JOMRES_REVIEWS_REPORT_REVIEW_TITLE}</th>
		</tr>
		</thead>
		<tbody>
		<patTemplate:tmpl name="rows" unusedvars="strip">
			<tr>
				<td class="{ROW_CLASS}">{VIEWLINK}{PROPERTYNAME}</td>
				<td class="hidden-phone">{NUMBERUNPUBLISHED}</td>
				<td class="hidden-phone">{NUMBERTOTAL}</td>
				<td class="hidden-phone">{REPORTTOTAL}</td>
			</tr>
		</patTemplate:tmpl>
		</tbody>
	</table>
</patTemplate:tmpl>