<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<script type="text/javascript">
		<!--
		var ajaxurl = "{JOMRES_SITEPAGE_URL_ADMIN_AJAX}&task=";
		var livesite = "{ADMINLIVESITE}&task=grantMosUser&no_html=1&grantAct=y&name=";
		jomresJquery(function () {
			jomresJquery("#username_input").autocomplete({
				source: ajaxurl + 'managers_find',
				minLength: 2,
				select: function (event, ui) {
					location.href = livesite + ui.item.value;
				}
			});
		});

		jomresJquery(document).ready(function () {
			var oTable = jomresJquery('#managers_choose').dataTable({
				"bJQueryUI": false,
				"bStateSave": true,
				"sPaginationType": "bootstrap",
				"sDom": "<'row-fluid'<'span4'l><'span4'T><'span4'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
				"sWrapper": "dataTables_wrapper form-inline",
				"oTableTools": {
					"sSwfPath": "{LIVESITE}/jomres/javascript/copy_cvs_xls_pdf.swf",
					"aButtons": [
						"copy",
						{
							"sExtends": "csv",
							"sCharSet": "utf8"
						},
						{
							"sExtends": "xls",
							"sCharSet": "utf16le"
						},
						{
							"sExtends": "pdf",
							"sCharSet": "utf8",
							"sPdfOrientation": "landscape",
							"sTitle": "{PAGETITLE}"
						},
						"print"
					]
				}
			});
			jomresJquery.extend(jomresJquery.fn.dataTableExt.oStdClasses, {
				"sSortAsc": "header headerSortDown",
				"sSortDesc": "header headerSortUp",
				"sSortable": "header"
			});
		});
		//-->
	</script>
	<h2 class="page-header">{_JOMRES_COM_MR_SHOWPROFILES}</h2>

	<!--<h3 class="page-header">{_JOMRES_MANAGER_CHOOSE_SEARCHTITLE}</h3>-->
	<p>{_JOMRES_MANAGER_CHOOSE_SEARCH_INSTRUCTIONS}</p>
	<input id="username_input" class="input-large"/>

	<p>&nbsp;</p>

	<h3 class="page-header">{_JOMRES_MANAGER_CHOOSE_EXISTINGTITLE}</h3>

	<p class="well">{KEY}</p>
	<table id="managers_choose" width="100%" class="table table-striped">
		<thead>
		<tr>
			<th>{HLINKTEXT}</th>
			<th>{HUSERNAME}</th>
			<th>{HACCESSLEVEL}</th>
			<th>{_JOMRES_CHOOSEMANAGER_NUMBEROFPROPERTIES_ASSIGNED}</th>
			<th>{HSUSPENSION}</th>
			<th>{HGRANTLINK}</th>
		</tr>
		</thead>
		<tbody>
		<patTemplate:tmpl name="rows" unusedvars="strip">
			<tr>
				<td>{LINKTEXT}</td>
				<td>{USERNAME}</td>
				<td>{ACCESSLEVELIMAGE}</td>
				<td>{NUMBEROFPROPERTIES}</td>
				<td>{SUSPENSIONLINK}</td>
				<td>{GRANTLINK}</td>
			</tr>
		</patTemplate:tmpl>
		</tbody>
	</table>
</patTemplate:tmpl>