<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#warnings">{COMMON_VIEW}</button>
	<div id="warnings" class="collapse">
		<patTemplate:tmpl name="rows" unusedvars="strip">
			{WARNINGS}
		</patTemplate:tmpl>
	</div>
	{DELETION_WARNING}

</patTemplate:tmpl>