<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<script type="text/javascript">
		<!--
		var plugins_to_upgrade = '{PLUGINS_TO_UPGRADE}';


		function upgrade_core_plugins() {
			plugins = plugins_to_upgrade.split(",");
			for (var i = 0, l = plugins.length; i < l; i++) {
				plugin = plugins[i];
				if (plugin != '') {
					jomresJquery.ajax({ url: '{JOMRES_SITEPAGE_URL_ADMIN_AJAX}&task=addplugin&plugin=' + plugin + '&autoupgrade=1', success: function (data) {
						//console.log(data);
					}, async: false
					});
				}
			}
			window.location.reload();
		}
		//-->
	</script>


	<h2 class="page-header">{PAGETITLE}</h2>
	<style>
		.fixed-dialog {
			position: fixed;
			top: 50%;
			left: 50%;
		}
	</style>

	<div class="row-fluid">
		<div class="span9">

			<patTemplate:tmpl name="bronze_users" type="simpleCondition" requiredVars="license_server_username">
				<!--
				<div class="btn btn-primary btn-toolbar" onClick="showCart()"><i class="icon-cart icon-white"></i> Show cart</div>
				<div class="alert alert-info">Prices do not include VAT. If you are liable to pay VAT this will show on your invoice once you have placed your order.</div>
				<div id="cart_wrapper" class="hide">
					<h3 class="page-header"><img src = "{LIVE_SITE}/jomres/images/cart_red_transparent.png"/>Your shopping cart</h3>
					<p><strong>Total &pound;<span id="total"></span></strong></p>
			<div class="btn-toolbar"><button id="purchase" class="btn btn-primary" onClick="purchase();">Order plugin(s)</button></div>
			<div class="row-striped">
				<form id="cart">
				</form>
			</div>
			<p class="alert alert-warning">Note, if you have a Jomres  Silver or Gold license number, please make sure you've entered it in the <i>Site Configuration -> Misc tab -> Support key</i> field, otherwise you will not be able to download plugins that you are entitled to.</p>
		</div>
		<div id="hidden_inputs"  class="hide"></div>
		<div id="username_input" class="hide">
			<fieldset>
			<p class="small">Before you can purchase plugins, you need a Username and Password, which you can get by registering for free at <a href="http://www.jomres.net/my-account/register" target="_blank">Jomres.net</a>.<br/> If you already have a username and password please enter them here. When you've done that, click the Purchase Plugins! button.</p>
				<label for="name">Username</label>
				<input id="name" name="name" type="text" placeholder="Your username" value="{LICENSE_SERVER_USERNAME}" required autofocus>
				<label for="password">Password</label>
				<input id="password" name="password" type="password" placeholder="Your password" value="{LICENSE_SERVER_PASSWORD}" required>
			</fieldset>
			<p class="small">Once you have paid your invoice, Jomres will automatically offer you an installation link next to your purchased plugin(s), click that link to install the plugin(s).</p><br />
			<p class="small">Note that purchase of a plugin download does not entitle you to support for Jomres. If you require support we would encourage you to purchase a Jomres Developer or Jomres Perpetual license.</p><br />
			<div class="form-actions"><button class="btn btn-primary" id="purchase_button" onClick="sumbint();">Purchase plugins!</button></div>
		</div>
		-->
			</patTemplate:tmpl>

			<patTemplate:tmpl name="developer_users" type="simpleCondition" requiredVars="dummy">
				<p class="alert alert-warning">Please do not install all plugins with the hope that they will come in
					useful later. They are not all mutually exclusive, I.E. one plug may interfere with another, so it
					is recommended that you only install a plugin when you\'ve identified a requirement that the
					individual plugin fulfills. <br/>Bold items in the core plugins list are generally essential when
					building a portal, and if you have upgraded from v4 you should consider installing those plugins to
					continue working as before.</p>
			</patTemplate:tmpl>
		</div>
		<div class="span3">
			<h3 class="page-header">Legend</h3>
			<table width="100%" class="">
				<tr class="alert alert-success">
					<td align="center">Already installed</td>
				</tr>
				<tr class="alert alert-error">
					<td align="center">Upgrade is available</td>
				</tr>
				<!--<tr class="alert alert-info">
					<td align="center">Free plugin</td>
				</tr>-->
				<!--<tr class="alert">
					<td align="center">Third party plugin</td>
				</tr>-->
			</table>
		</div>
	</div>
	<h3 class="page-header">Plugins</h3>

	<div class="tabbable">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#coreplugins" data-toggle="tab">Jomres.net plugins</a></li>
			<li><a href="#3rdpplugins" data-toggle="tab">Third party plugins</a></li>
			<li><a href="#install3rdpplugin" data-toggle="tab">Install third party plugin</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="coreplugins">
				<patTemplate:tmpl name="plugins_require_upgrade" type="simpleCondition" requiredVars="upgrade_text">
					<a href="javascript:void(0);" onclick="upgrade_core_plugins()" class="btn btn-primary btn-large">{UPGRADE_TEXT}</a>
				</patTemplate:tmpl>
				<table width="100%" class="table">
					<tr>
						<th>Name</th>
						<!--
						<th>Image</th>
						-->
						<th>Minimum Jomres version</th>
						<th>Your Version</th>
						<th>Current Version</th>
						<th>Last updated</th>
						<th>Description</th>
						<th>Changelog</th>
						<th>Warnings</th>
						<th>Add/reinstall/upgrade plugin</th>
						<th>Remove plugin</th>
						<!--<th>{HPLUGINPRICE}</th>-->
					</tr>
					<patTemplate:tmpl name="jomresdotnet_plugins" unusedvars="strip">
						<tr>
							<td class="{ROWCLASS}"><a name="{PLUGIN_NAME}"></a>{STRONG1}{READABLE_NAME}{STRONG2}</td>
							<!--<td><a href="#" class="thumbnail"><img src="{IMAGE}" alt=""></a></td>-->
							<td>{MIN_JOMRES_VER}</td>
							<td>{LOCAL_VER}</td>
							<td>{REMOTE_VER}</td>
							<td>{LASTUPDATE}</td>
							<td>
								<a class="btn btn-info" id="{PLUGIN_NAME}" rel="popover" title="{PLUGIN_NAME}"
								   data-content="{PLUGIN_DESC}">Description</a>
								<script> jomresJquery(function () {
									jomresJquery("#{PLUGIN_NAME}").popover({trigger: 'hover'});
								}); </script>
								<!-- {PLUGIN_DESC}<br/> Temp commented out, seems that since J3b1 the popover code has changed and this no longer works -->
								<a href="{MANUAL_LINK}" target="_blank" class="{MANUAL_CLASS}">{MANUAL_TEXT}</a>
								<a href="{DEMO_LINK}" target="_blank" class="{DEMO_CLASS}">{DEMO_TEXT}</a>
							</td>
							<td>{CHANGELOG}</td>
							<td>{HIGHLIGHT}</td>
							<td>{INSTALL} {LATERVERSION}</td>
							<td>{UNINSTALL}</td>
							<!--<td>{ADD_TO_CART_BUTTON}</td>-->
						</tr>
					</patTemplate:tmpl>
				</table>
			</div>
			<div class="tab-pane" id="3rdpplugins">
				<table width="100%" class="table table-striped">
					<thead>
					<tr>
						<th colspan="6"></th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<th>Name</th>
						<th>Your Version</th>
						<th>Description</th>
						<th>Author</th>
						<th>Author email</th>
						<th>Remove plugin</th>
					</tr>
					<patTemplate:tmpl name="thirdpartyplugins" unusedvars="nbsp">
						<tr>
							<td>{NAME}</td>
							<td>{LOCALVERSION}</td>
							<td>{DESCRIPTION}</td>
							<td>{AUTHOR}</td>
							<td><a href="mailto:{AUTHOREMAIL}?subject={NAME}">{AUTHOREMAIL}</a></td>
							<td><a href="{UNINSTALLLINK}" class="btn btn-danger">{UNINSTALL}</a></td>
						</tr>
					</patTemplate:tmpl>
					</tbody>
				</table>
			</div>
			<div class="tab-pane" id="install3rdpplugin">
				<form enctype="multipart/form-data" action="{JOMRES_SITEPAGE_URL_ADMIN}&task=addplugin&thirdparty=1"
					  method="post" class="form-horizontal">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="pluginfile">Install third party plugin</label>

							<div class="controls">
								<input type="file" name="pluginfile" class="input-file"/>
							</div>
						</div>
						<div class="form-actions">
							<input type="submit" value="Install" class="btn btn-primary"/>
						</div>
						<input type="hidden" name="no_html" value="1"/>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</patTemplate:tmpl>